.govuk-header__content {
    nav {
        float: right;
        width: 20%;
        ul li {
            float: right;
        }
    }
}

.js-enabled .govuk-header__menu-button {
    display: none;
}
.js-enabled .govuk-header__navigation {
    display: block;
}