// Task list pattern

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 550px;
}

.app-task-list__section {
  display: table;
  font-size: 24px;
  font-weight: bold;
}

.app-task-list__section-number {
  display: table-cell;
  min-width: 30px;
  padding-right: 0;
}

.app-task-list__items {
  list-style: none;
  padding-left: 30px;
}

.app-task-list__item {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-task-list__item:first-child {
  border-top: 1px solid #b1b4b6;
}

.app-task-list__task-name {
  display: block;
  float: left;
}

// The `app-task-list__task-completed` class was previously used on the task
// list for the completed tag (changed in 86c90ec) – it's still included here to
// avoid breaking task lists in existing prototypes.
.app-task-list__tag,
.app-task-list__task-completed {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}
