
@import "partials/spinner";

@import "partials/print";

@import "partials/task-list";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.block-js-enabled {
  display: none;
}

.js-enabled .block-js-enabled {
  display: block;
}
